* {
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	margin: 0;
	font-family: serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
	padding: 0 1rem;
	background-color: black;
}

.navbar ul {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 0.25rem;
}

.siteTitle {
	font-size: 2rem;
}

.navbar a {
	color: white;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}
.navbar li {
	list-style-type: none;
}

.navbar li.active {
	background-color: darkblue;
}

.navbar li:hover {
	background-color: rgb(3, 0, 201);
}

.container {
	background-color: rgb(255, 255, 255);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.main-menu {
	background-color: white;
	padding: 10px;
	margin: 0;
	display: flex;
	justify-content: center;
}

.world-news {
}

.img-banner {
	width: 30vw;
	min-width: 200px;
	max-width: 400px;
	height: auto;
}

.news-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 20px;
	max-width: 700px;
}

.column-two {
	grid-column: 2;
	margin: 10px;
}

.column-one {
	grid-column: 1;
	margin: 10px;
}

.weather {
	grid-column: 1;
	grid-row: 1;
	background-color: lightgray;
	padding: 10px;
	max-width: 300px;
}

.footer {
	background-color: lightgray;
	color: rgb(0, 0, 0);
	padding: 10px;
	text-align: center;
}

.form-horizontal {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: black;
}

.headline {
	text-align: left;
	grid-column: 2;
	padding: 5px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	color: gray;
}

.input {
	width: 600px;
	height: 40px;
	border-radius: 5px;
	border-style: none;
	margin: 5px;
}

.btn-search {
	height: 40px;
	border-radius: 5px;
	border-style: none;
}

.headline-card {
}

.search-bar {
}

.search-bar-txt a:link {
	color: snow;
	text-align: center;
}

.form-control {
	width: 600px;
	height: 40px;
	margin: 5px;
	border-radius: 5px;
	border-style: none;
	font-size: 26px;
}

.search-pack {
	display: flex;
	flex-direction: row;
	flex-wrap: none;
	justify-content: center;
	align-items: center;
}

hr {
	margin: 0 auto;
}

.found-nothing {
	color: snow;
}
